h1 {
    font-family: 'Ranchers', cursive;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
 }

p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    width: 860px;
    background-image: url("../images/footer_lodyas.png");
    padding-left: 10em;
    padding-right: 10em;

}

button {
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: white;
    width: 100px;
    height: 75px;
    background-color: deeppink;
    margin-top: 15px;
    margin-left: 10px;
    border-color: white;
    border-style: solid;
}

#searchText {
    width: 150px;
    height: 25px;
    font-family: "Ranchers", cursive;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#addSearchBtn {
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: white;
    width: 100px;
    height: 50px;
    background-color: deeppink;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-color: white;
    border-style: solid;

}

img {
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid;
    border-color: deeppink;
}